#!/bin/bash

export S3_BUCKET="my-bucket-name-here"
export S3_PROFILE="my-profile-here"
export LAMBDA_PROFILE="my-profile-here"
export LAMBDA_FUNC_NAME="my-function-name-here"
export CLOUDFRONT_PROFILE="my-profile-here"
export CLOUDFRONT_DIST_ID="my-cloudfront-distribution-id-here"
