"{{ ansible_managed }}

syntax on
let mapleader=","
set number
set numberwidth=2
set cursorline
set backspace=indent,eol,start
set incsearch
set hlsearch
set linespace=3
nnoremap <leader><space> :nohlsearch<CR>
set expandtab
set tabstop=4
set sw=4
set softtabstop=4

