# {{ ansible_managed }}

user {{ nginx_user_name }};
worker_processes {{ ansible_processor_cores * ansible_processor_count }};
error_log {{ nginx_error_log }};
pid /var/run/nginx.pid;

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    include {{ nginx_configs_path }}/mime.types;
    default_type application/octet-stream;

    sendfile on;
    tcp_nopush on;
    # Help optimize keep alive connections;
    tcp_nodelay on;

    keepalive_timeout 65;
    keepalive_requests 100;
    send_timeout 60;

    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

    # Logging of trivial open() errors resulting in 404 to error log
    log_not_found off;

    # Send back the version in the error pages?
    server_tokens off;

    # Files to serve when directories are requested
    index index.html;

    # Automatic directory indexing
    autoindex off;

    # Defaults to on, but it's a problem for trailing slash redirections
    server_name_in_redirect off;

    # Compression
    gzip on;
    gzip_disable "msie6";
    gzip_min_length 1000;
    gzip_comp_level 5;
    gzip_proxied any;
    gzip_types application/atom+xml application/javascript application/x-javascript application/json application/ld+json application/manifest+json application/rss+xml application/vnd.geo+json application/vnd.ms-fontobject application/x-font-ttf application/x-web-app-manifest+json application/xhtml+xml application/xml font/opentype image/bmp image/svg+xml image/x-icon text/cache-manifest text/css text/plain text/vcard text/vnd.rim.location.xloc text/vtt text/x-component text/x-cross-domain-policy;

    # Use IP of client that sent request to ELB. Not IP of ELB itself;
    real_ip_header X-Forwarded-For;
    set_real_ip_from 10.0.0.0/8;
    set_real_ip_from 172.16.0.0/12;
    set_real_ip_from 192.168.0.0/16;
    real_ip_recursive on;

    # Add "Vary: Accept-Encoding" response header field;
    gzip_vary on;

    # Include separately managed configuration file(s)
    include {{ nginx_vhosts_path }}/*.conf;

}

